
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    image-rendering: smooth;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background-image: url(../assets/bgImage.jpg);
    /* background: radial-gradient(circle at 50% 50%, rgba(1, 0, 35, 1) 0%, rgba(0, 14, 85, 1) 50%, rgba(5, 0, 42, 1) 100%); */
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
}
:root{
    --card-color:rgba(0, 53, 177, 0.458);
    --golden-blue:rgb(0, 123, 255);
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
@media print{
    body{
        background-image: none;
    }
}