.progressbar-container{
    color: white;
    display: inline;
}
.rectangle-container{
    height: 13rem;
    width: 13rem;
    border-radius: .5rem;
    background-color: rgba(13, 82, 231, 0.355);
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
    margin-right: 2rem;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
svg.circle{
    height: 6.5rem;
    width: 6.5rem;
    display: grid;
    place-content: center;
    border-radius: .25rem;
}
svg.circle circle{
    fill: none;
    stroke: #007bff;
    stroke-width: .5rem;
    stroke-linecap: round;
    stroke-dasharray: 282.6;
}
svg.circle circle.dynamic-circle{
    transform: rotate(-90deg);
    transform-origin: center;
}
svg.circle circle.static-circle{
    stroke: #000000;
    stroke-dashoffset: 0;
}
svg.circle text{
    font-size: 1.25rem;
    fill: #ffffff;
    font-weight: 600;
}
.rectangle-container .inner-texts .skillname{
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}
.rectangle-container .inner-texts{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
}
.rectangle-container .inner-texts .skill-quote{
    font-size: .65rem;
    text-align: center;
    text-wrap: wrap;
    width: 90%;
   align-self: center;
}
.wrap-progress{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
@media screen and (min-width:425px) and (max-width:550px){
    .rectangle-container{
        height: 10rem;
        width: 10rem;
    }
    svg.circle{
        height: 4.25rem;
        width: 4.25rem;
    }
    svg.circle text{
        font-size: 1rem;
    }
    .rectangle-container .inner-texts .skillname{
        font-size: 1rem;
    }
    .rectangle-container .inner-texts .skill-quote{
        font-size: 0.5rem;
    }
}
@media screen and (max-width:424px){
    .rectangle-container{
        margin-right: 0;
        width: 100%;
        min-width: 10rem;
    }
}