.projects-container{
    color: white;
    user-select: none;
    /* background-color: greenyellow; */
    margin: 0 5%;
    margin-top: 5rem;
    text-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.projects-container h1{
    font-size: 2rem;
    position: relative;
    width: fit-content;
}
.projects-container h1:after{
    content: '';
    height: .25rem;
    width: 55%;
    border-radius: 50px;
    background-color: yellow;
    position: absolute;
    bottom: -.5rem;
    left: 0;
    animation: increase 500ms linear 1;
}
@keyframes increase {
    0%{width:0}
    100%{width: 55%;}
}
.works{
    height: fit-content;
    text-wrap: wrap;
    font-size: 1rem;
    padding: 2rem 2rem 2rem 0;
    text-align: justify;
    color: lightgray;
    margin-top: 7.5vw;
}
.projects-container button{
    margin-top: 2rem;
}
.project-gallery{
    width: 20em;
    min-width: 20em;
    height: fit-content;
    margin-right: 5rem;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}
.project-container-2{
    height: fit-content;
    width: 42.5em;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}
.project-information{
    height: 80vh;
    width: 90vw;
    z-index: 3;
    position: fixed;
    padding: 2.5rem 5%;
    backdrop-filter: blur(25px);
    border-radius: 1rem;
    animation: open 100ms linear 1;
    top: 5rem;
    left: 5%;
    background-color: var(--card-color);
    flex-direction: column;
    display: none;
}
.project-information .wrap-content{
    text-wrap: wrap;
    width: 100%;
    margin: .5rem 0;
}
.wrap-all-project-contents{
    height: 100%;
    width: 100%;
    overflow: scroll;
}
.project-information .close-icon{
    position: fixed;
    top: .5rem;
    right: .5rem;
}
.project-information .wrap-content p{
    text-align: justify;
    color: lightgray;
    font-size: 1rem;
    margin: .5rem 0;
}
.project-information .wrap-content h2{
    font-size: 1.5rem;
    position: relative;
    margin: .5rem 0;
    display: inline;
}
.project-information .wrap-content h2::after{
    height: .25rem;
    width: 100%;
    content: '';
    left: 0;
    bottom: -.5rem;
    margin: .25rem 0;
    border-radius: 50px;
    position: absolute;
    background-color: yellow;
    animation: increase1 500ms linear 1;
}
@keyframes increase1{
    0%{width: 0;}
    100%{width: 100%;}
}
.project-information h3{
    font-size: 1.25rem;
    margin: .5rem 0;
}
.project-information ul{
    font-size: 1rem;
    margin-left: 2.5rem;
}
.project-gallery .project-image{
    height: 13.5rem;
    width: 8rem;
    margin: 1rem;
    position: relative;
    transition: 500ms;
}
.project-image img{
    height: 13.5rem;
    width: 8rem;
    border-radius: .5rem;
}
.project-image:hover{
    transform: scale(1.05);
}
.project-gallery .project-name{
    height: 2.25rem;
    width: 12.5rem;
    border-radius: .2rem;
    background-color: #03A9F4;
    font-size: 1rem;
    color: black;
    letter-spacing: .05rem;
    font-weight: 500;
    display: grid;
    place-items: center;
    position: absolute;
    top: 25%;
    left: 80%;
    z-index: 2;
}
.project-gallery .project-name .after{
    height: 2.25rem;
    width: 12rem;
    content: '';
    border-radius: .15rem;
    border: .15rem solid #03A9F4;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: -1;
}
.projects-container button{
    font-size: 1rem;
}

@media screen and (max-width:1024px){
    .project-gallery .project-image{
        height: 12rem;
        width: 7rem;
        margin: .5rem;
    }
    .project-image img{
        height: 12rem;
        width: 7rem;
    }
    .project-gallery .project-name{
        height: 2rem;
        width: 9.5rem;
        font-size: 0.8rem;
    }
    .project-gallery .project-name .after{
        height: 2rem;
        width: 9rem;
    }
    .project-gallery{
        margin-top: 15vh;
        width: 21em;
        min-width: 16em;
    }
}
@media screen and (max-width:768px){
    .projects-container{
        flex-direction: column;
        align-items: center;
    }
    .project-container-2{
        width: 90vw;
        padding-right: 0;
    }
    .works{
        padding: 0 2rem 0 0;
        margin-top: 2.5rem;
        padding-right: 0;
    }
    .project-gallery{
        margin-top: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        width: 16em;
        min-width: 15em;
        margin-bottom: 2.5rem;
    }
    .project-information{
        height: 85vh;
    }
}
@media screen and (max-width:501px){
    .works{
        font-size: .85rem;
    }
    .projects-container button{
        font-size: .85rem;
    }
    .projects-container h1{
        font-size: 1.5rem;
    }
    .project-information{
        height: 88vh;
    }
    .project-information .wrap-content p{
        font-size: .85rem;
    }
    .project-information .wrap-content h2{
        font-size: 1.5rem;
    }
    .project-information h3{
        font-size: 1.25rem;
    }
    .project-information ul{
        font-size: .85rem;
    }
}
@media screen and (max-width:426px){
    .project-gallery{
        width: 12em;
        min-width: 12em;
    }
    .projects-container h1{
        font-size: 1rem;
    }
    .project-gallery .project-image{
        height: 8rem;
        width: 5rem;
    }
    .project-gallery .project-image img{
        height: 8rem;
        width: 5rem;
    }
    .projects-container button{
        font-size: .65rem;
    }
    .project-gallery .project-name,.project-gallery .project-name .after{
        width: 6.5rem;
        height: 1.5rem;
        font-size: .65rem;
    }
    .project-gallery .project-name .after{
        top: 0.5rem;
    }
    .works{
        font-size: .65rem;
    }
    .project-information{
        height: 88vh;
    }
    .project-information .wrap-content p{
        font-size: .65rem;
    }
    .project-information .wrap-content h2{
        font-size: 1rem;
    }
    .project-information h3{
        font-size: .85rem;
    }
    .project-information ul{
        font-size: .65rem;
    }
}
@media screen and (max-width:375px){
    .project-gallery .project-name,.project-gallery .project-name .after{
        width: 5rem;
        font-size: .45rem;
    }
}
@media screen and (min-width:1400px){
    .projects-container{
        width: 85vw;
    }
}